<form (ngSubmit)="onSubmit()">
<mat-card class="example-card">
    <h1>Login</h1>
    <mat-form-field class="username-form" appearance="fill">
        <mat-label>username</mat-label>
        <input matInput [(ngModel)] = "user" name="user">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field class="password-form" appearance="fill">
        <mat-label>password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)] = "password"  name="password">
        <button type="button" class="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" >Log in</button>
  </mat-card>
</form>